:root {
  --primary-color: #aa95dc;
  --background-color: #1a1a1f;
  --text-color: #efeff5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.hover:hover {
  background-color: #4c4952;
}

.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.visible {
  visibility: visible;
}

.addColor {
  color: var(--primary-color);
}

.active {
  display: block;
}

.remove {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
